<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VUE JS</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- CDN ile -->

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      {{name}}
      <!-- degiskenler {{}} buraya yazılır -->

      <!-- ****************** BINDING ******************  -->
      <p><a :href="website">Websitemmm</a></p>
      <input type="text" :value="name" />
      <p v-html="aTag"></p>

      <!-- ******************  EVENTS ******************  -->
      <hr />
      <button v-on:click="number++">+</button>
      <p>{{number}}</p>
      <button v-on:click="number--">-</button>
      <hr />
      <button v-on:click="increase">Func. +</button>
      <p>{{number}}</p>
      <button v-on:click="decrease">Func. -</button>
      <hr />
      <button v-on:click="addTen(10)">add 10 num</button>
      <button v-on:click="extractionTen(10)">extraction 10 num</button>

      <!-- ******************  MOUSE EVENTS ******************  -->
      <hr />
      <p>{{number}}</p>
      <div id="canvas" v-on:mousemove="updateCoordinates">EVENTS {{X}} , {{Y}}</div>

      <!-- ******************  EVENTS MODIFIER ******************  -->
      <hr />
      <button v-on:click.once="number++">+</button>
      <!-- ONCE bir kere tıklamaya izin verir -->
      <hr />
      <a v-on:click.prevent="alertFunc" href="https://reyhanyilmaz.vercel.app/">event modifier a tag</a>
      <!-- prevent sayfaya gitmeyi engeller burada -->

      <!-- ******************  STATE ******************  -->
      <hr />
      <label for="">Name</label>
      <input type="text" v-model="name_2" />
      <!-- v-model state gibi veriyi degiskene atıyor -->
      <p>{{name_2}}</p>
      <label for="">Age</label>
      <input type="text" v-model="age" />
      <p>{{age}}</p>

      <!-- ******************  COMPUTED PROPERTIES ******************  -->
      <hr />
      <button v-on:click="a++">A ya 1 Ekle</button>
      <button v-on:click="b++">B ye 1 Ekle</button>
      <p>A: {{ a }}</p>
      <p>B: {{ b }}</p>
      <!-- methods ile yapsaydık "aYaEkle()" bu sekilde yazılacaktı -->
      <p>Yaş+ A = {{ aYaEkle }}</p>
      <p>Yaş+ B = {{ bYeEkle }}</p>

      <!-- ******************  CSS ****************** -->
      <hr />
      <h1>CSS</h1>
      <div v-bind:class="{red: true, blue: true}"></div>
      <div v-on:click="activity = !activity" v-bind:class="{active: activity}">
        <!-- true ise class görünüyor false ise görünmüyor -->
        <!-- on click'de bir func islemi, class'da deger verildi ve {} icine yazilmali -->
        <span>Bu alanın içeriğidir. </span>
      </div>

      <!-- ******************  CONDITION ****************** -->
      <hr />
      <button v-on:click="error=!error">Error button</button>
      <p v-if="error">Error true</p>
      <!-- v-if DOM'a olustuyor true ise false ise DOM'dan kaldırıyor -->
      <!-- else ise "v-else-if" seklinde yazilir -->
      <p v-show="error">v-show</p>
      <!-- error true ise v-show ögesi görünür false ise görünmez -->
      <!-- ama DOM'da vardır "display: none", seklinde görünür. if ise DOM'dan silinip dahil olur -->
    </div>
  </body>
  <script src="app.js"></script>
</html>
