span {
    background: red;
    display: inline-block;
    padding: 10px;
    color: #fff;
    margin: 10px 0;
}

.active span {
    background: green;
}

.extra span {
    content: "extra içerik";
    margin-left: 10px;
}